//- Text:
$text-color-1: #fff;
$text-color-2: #000;
$text-color-3: #292b2c;
$text-color-4: #666;
$text-color-5: #f3efe0;
$text-color-6: #1cbeb0;
$text-color-7: #727878;

//- Background:
$bg-color-1: #fff;
$bg-color-2: #000;
$bg-color-3: #333;
$bg-color-4: #666;
$bg-color-5: #f3efe0;
$bg-color-6: #1cbeb0;
$bg-color-7: #727878;