- var content = site.data.content.content.home;

.div.landing-page.col-12(style="height:100vh")
  a(id='home',name='home')
  img.rounded.mx-auto.d-block.landing-logo(src='' width='' height='' alt='logo')
  h1.text-center.align-bottom #{content.title}
  p.text-center #{content.description}