extends _layouts/base

block content
    .row.no-gutters
      include _modules/content/home
      include _modules/content/profile
      include _modules/content/experiences
      include _modules/content/abilities
      include _modules/content/projects
      include _modules/content/contact
